[build]
  functions = "netlify/functions"
  publish = "public"

[functions]
  node_bundler = "esbuild"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "STRIPE_PUBLISHABLE_KEY"

  [build]
  functions = "netlify/functions"